.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.button {
  background-color: #3CD8BE;
  color: #265865;
  display: inline-block;
  font-size: 1.4em;
  padding: 3px 15px;
  margin: 20px 10px;
  border: solid 2px black;
  box-shadow: 5px 5px 15px #3087B4;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #265865;
  color: #3CD8BE;
}

.title {
  position: absolute;
  left: 12%;
  margin-top: 18px;
  color: #3087B4;
  font-size: 2em;
  font-family: 'sans-serif','Brush Script Std', 'Brush Script MT', 'cursive';
}

nav {
  background-color: #3E4EB5;
}
