.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.button {
  background-color: #3CD8BE;
  color: #265865;
  display: inline-block;
  font-size: 1.0em;
  padding: 3px 15px;
  margin: 10px 5px;
  border: solid 1px black;
  border-radius: 2px;
  cursor: pointer;
}

.button:hover {
  background-color: #265865;
  color: #3CD8BE;
  border: solid 1px silver;
}

.stormy {
  position: absolute;
  left: 10px;
  margin-top: 7px;
  color: #3087B4;
  font-size: 1.5em;
  font-family: 'sans-serif','Brush Script Std', 'Brush Script MT', 'cursive';
}

.home-image {
  background-size: cover;
  background: linear-gradient(
                     rgba(20,20,20, .9),
                     rgba(20,20,20, .4)),
                     url('images/purple-weed.jpg') no-repeat center center fixed;
                     -webkit-background-size: cover;
                     -moz-background-size: cover;
                     -o-background-size: cover;
  width: 100%;
  height: 250px;
  opacity: 1.0;
}

.home-image h1 {
  color: white;
  font-size: 2.0em;
  margin: 0;
  padding: 20px 0;
  z-index: 1000;
}

.business h1 {
  font-size: 2.2em;
}

.content {
  margin: 8px
}

nav {
  background-color: #3E4EB5;
}


/* IPHONE 5 */
@media (max-width: 358px) {
   .button {
     width: 21%;
     font-size: .9em;
     padding: 6px 3px;
     margin: 8px 2px;
   }
  .home-image h1 {
    font-size: 1.6em;
  }
}

/* EVERYTHING ELSE */
@media (max-width: 767px) {
  .button {
    width: 21%;
    font-size: 1.0em;
    padding: 6px 3px;
    margin: 8px 2px;
  }
}

@media (max-width:1024px) {
   .stormy {
      display: none;
   }
}
