.App {
  text-align: center;
}

.button {
  background-color: #68EFAD;
  color: #691A99;
  display: inline-block;
  font-size: 1.0em;
  padding: 5px 15px;
  margin: 10px 10px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 2px 2px 10px black;
}

.button:hover {
  background-color: #691A99;
  color: #68EFAD;
  box-shadow: 2px 2px 20px white;
}

nav {
  z-index: -2;
  background-color: #9B26AF;
}

/*.stormy {
  position: absolute;
  left: 10px;
  margin-top: 7px;
  color: #3087B4;
  font-size: 1.5em;
  font-family: 'sans-serif','Brush Script Std', 'Brush Script MT', 'cursive';
}*/

.home-image {
  z-index: -10;
  background-size: cover;
  background: linear-gradient(
                     rgba(20,20,20, .5),
                     rgba(20,20,20, .3)),
                     url('images/purple-weed.jpg') no-repeat center center fixed;
                     -webkit-background-size: cover;
                     -moz-background-size: cover;
                     -o-background-size: cover;
  width: 100%;
  height: 280px;
  opacity: 1.0;
}

.home-image h1 {
  color: white;
  font-size: 2.0em;
  margin: 0;
  padding: 20px 0;
  z-index: 1000;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15%;
  background-size: cover;
  background: linear-gradient(
                     rgba(255,255,255, .99),
                     rgba(255,255,255, .3)),
                     url('images/green-weed.jpg') no-repeat center center fixed;
                     -webkit-background-size: cover;
                     -moz-background-size: cover;
                     -o-background-size: cover;
}

.business {
  color : #691A99;
}

.business h1 {
  font-size: 2.2em;
}

.business h3 {
  margin-top: 50px;
  font-size: 1.5em;
}

.j {
  text-align: justify;
}

.l {
  text-align: left;
}

.content {
  margin: 0 auto;
  padding: 20px;
  max-width: 800px;
}

.services-list {
  font-size: 1.2em;
  list-style: none;
}

.services-list li {
  cursor: pointer;
}

.service-description {
  width: 80%;
  margin: 20px auto;
}

.contact-form input {
  padding: 2px;
  margin: 3px;
}

/* IPHONE 5 */
@media (max-width: 358px) {
  .home-image h1 {
    font-size: 1.5em;
    padding: 15px 0;
  }
  .home-image {
    height: 200px;
  }
  .content {
    padding: 10px;
  }
  .business h3 {
    margin-top: 30px;
    font-size: 1.5em;
  }
  .business h1 {
    margin-top: 20px;
    font-size: 1.8em;
  }
  div.button {
    width: 20%;
    font-size: .9em;
    padding: 6px 2px;
    margin: 8px 4px;
  }
}

/* EVERYTHING ELSE */
@media (max-width: 767px) {
  .button {
    width: 20%;
    font-size: 1.0em;
    padding: 5px 3px;
    margin: 8px 4px;
  }
}

/*@media (max-width:1024px) {
   .stormy {
      display: none;
   }
}*/
